<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:theme="@style/AppTheme">
        <activity
            android:name="com.lambda.news.ui.home.NewsHomeActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lambda.news.ui.sort.SortActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" />
        <activity android:name="com.lambda.news.ui.detail.NewsDetailActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" />
    </application>
</manifest>